<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Xtmas Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text">
    <p>Wishing you a save and happy hollidays!</p>
  </div>

  <div class="btn">
    <button>Click me to go shopping...</button>
  </div>

  <div class="santa">
    <div id="circulo">
      <div id="chapeu" class="absoluto"></div>
      <div id="gorro" class="absoluto"></div>
      <div id="cabeca" class="absoluto">
        <div id="olho" class="absoluto"></div>
        <div id="nariz" class="absoluto"></div>
        <div id="boca" class="absoluto"></div>
      </div>
      <div id="barba" class="absoluto"></div>
      <div id="braco-esquerdo" class="absoluto">
        <div id="dedo-esquerdo" class="absoluto"></div>
      </div>
      <div id="braco-direito" class="absoluto"></div>
      <div id="corpo" class="absoluto"></div>
      <div id="saco" class="absoluto"></div>
    </div>
  </div>
</ion-content>